
body{

background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(top, #005aa7, #fffde4 100%) fixed; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #005aa7, #fffde4 100%) fixed; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #005aa7, #fffde4 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
background-size: cover;
background-repeat:no-repeat;
overflow-x: hidden;
}



.container{
    background-color: white;
    padding-bottom: 60px;
    border-radius: 0px 0px 30px 30px;
}



thead{
    font-weight: bold;
    border-bottom: 1px solid black;
}

td{
    padding-right: 20px;
}

.pagination {
    margin-top: 40px;
    margin-bottom: 50px;
}


.vote-up-icon a{
    color: darkgreen;
}

.vote-up-icon a:hover{
    color: green;
    text-decoration: none;
}

.vote-down-icon a{
    color: darkred;
}

.vote-down-icon a:hover{
    color: red;
}

a.disabled {
  color: gray;
  pointer-events: none;
}



.numberIconCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 12px;
    height: 12px;
    padding: 8px;
    background: #fff;
    border: 2px solid black;
    color: black;
    text-align: center;
    font: 10px Arial, sans-serif;
    display: inline-block;
}

.r_vert_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

.r_vert_menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.r_vert_menu li a.active {
    background-color: #4CAF50;
    color: white;
}

.r_vert_menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}




.img_butt_container {
  position: relative;
}

/* Make the image responsive */
.img_butt_container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.img_butt_container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.img_butt_container .btn:hover {
  background-color: black;
}


.quote {
    quotes: "„" "“" "‚" "‘";
    font-style: italic;
}


.grow-sm:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}